In [1]:
trainees = [
    ["Shivam",234,"B.Tech"],
    ["Shiv", 456, "B.A."],
    ["Tyagi", 293, "B.Ed."],
    ["Kiran", 789, "Diploma"],
    ["Shreyansh", 765, "B.Tech"],
    ["Shiv", 456, "B.A."],
    ["Tyagi", 293, "B.Ed."],
    ["Kiran", 789, "Diploma"]
]

In [2]:
print(trainees)

[['Shivam', 234, 'B.Tech'], ['Shiv', 456, 'B.A.'], ['Tyagi', 293, 'B.Ed.'], ['Kiran', 789, 'Diploma'], ['Shreyansh', 765, 'B.Tech'], ['Shiv', 456, 'B.A.'], ['Tyagi', 293, 'B.Ed.'], ['Kiran', 789, 'Diploma']]

In [4]:
print(trainees[1])

['Shiv', 456, 'B.A.']

In [5]:
print(trainees[1][1])

456

In [34]:
for num in trainees:
    print(num[1])

234
456
293
789
765
456
293
789

In [39]:
num_list = [i[1] for i in trainees]
print(num_list)

[234, 456, 293, 789, 765, 456, 293, 789]

In [40]:
new_list = [i[0:2] for i in trainees]
print(new_list)

[['Shivam', 234], ['Shiv', 456], ['Tyagi', 293], ['Kiran', 789], ['Shreyansh', 765], ['Shiv', 456], ['Tyagi', 293], ['Kiran', 789]]

In [59]:
n = [0,1,2,3,4,5,6]
sub_list = trainees[0][1]
print(sub_list)

234