# MarkDown Headings

# Heading 1
## Heading 2
### Heading 3
#### Heading 4
##### Heading 5
###### Heading 6

# MarkDown Paragraph, Bold, Italic

This is line 1 of paragrph.  
This is line 2 of paragraph.  

This is **Bold** text, this is *italic* text and this text is in ***Bold and italic*** both.

# MarkDown List

This is list:
- item 1
- item 2
- item 3

This is list
- item 1
- item 2
- item 3

# MarkDown Blockquote

> This is quote
>> This is nested quote

> This is quote
>> This is quote 2

# MarkDown Images & Links

[![image not found](https://icon-library.com/images/submit-button-icon-png/submit-button-icon-png-9.jpg)](https://www.google.com)

[Google](https://www.google.com)

[//]: # (Here a variable is created)
[g]: <https://www.google.com>


[Click Me][g]

# MarkDown Comments

ðŸ‘‡Here are some syntax to comments in MarkDown

[comment]: <> (This line is commented)

[//]: <> (This is also commented)

[//]: # (This is also commented)

[//]: # "This is also commented"

ðŸ‘† Above

# MarkDown Table

**This is a table**
| Name | Room No. |
| ------ |------ |
| Shivam Chandra | 38 |
| Suryansh Mishra | 37 |
| Arshad Ashrafi | 82 |

# MarkDown Text in Shell

This is a path `C:\users\downloads`

```python
print("Hello World")
```

```sh
npm install node

```

# -----------------------------------------Python--------------------------------------------------

# First Program in python

In [ ]:
print("Hello World")

Hello World

In [2]:
var1 = 12
var2 = "Hello"
var3 = True
print(var1,var2,var3)

12 Hello True

In [3]:
print(f"This is test string {var2}. this is number {var1} ")

This is test string Hello. this is number 12

In [7]:
print("this is string "+var2+" this is number ")

this is string Hello this is number

# Operators

In [8]:
num1 = 12
num2 = 6
num3 = 5
print(num1 + num2)

18

In [9]:
print(num1 - num2)

6

In [10]:
print(num1 * num3)

60

In [11]:
print(num1 / num2)

2.0

In [12]:
print(num3 ** 3)

125

In [13]:
print(num1 % num3)

2

# Conditional Statements

#### If Statement

In [19]:
num1 = input("Enter a number: ")
num2 = int(num1)
print(num1)
print(type(num1))

print(num2)
print(type(num2))

Enter a number: 47
47
<class 'str'>
47
<class 'int'>

In [24]:
age = int(input("Enter your age: "))
if age >= 18:
    print("you can vote.")

Enter your age: 14

#### If else statement

In [26]:
age = int(input("Enter your age: "))
if age >= 18:
    print("you can vote.")
else:
    print("you can't vote")

Enter your age: 25
you can vote.

#### If else ladder statement

if marks > 60        let marks = 39
    1st division

else if marks > 50
    2nd division
    
else if marks > 40
    3rd division
    
else 
    fail

In [30]:
marks = int(input("Enter your marks: "))

if marks >= 60:
    print("1st Division.")
elif marks >=50:
    print("2nd Division")
elif marks >= 40:
    print("3rd Division")
else:
    print("Fail")

Enter your marks: 39
Fail

#### Nested if statement

if color == black:
    if size == M:
        bought it
    else:
        go to another shop
else if color == blue:
    if size == M
        bought it
    else:
        go to another shop
else:
    go to another shop

In [4]:
marks = int(input("Enter your marks: "))

if marks > 40:
    if marks > 60:
        print("1st Division")
    elif marks > 50:
        print("2nd Division")
    elif marks > 40:
        print("3rd division")
else:
    print("Failed")

Enter your marks: 10
Failed